.footer {
  background: #ffffff;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.03);
  &__row {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 126.69%;
    color: #000000;
  }
  &__menu {
    display: flex;
    margin-top: 10px;
    ul {
      margin-right: 50px;
    }
    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 126.69%;
      color: #414141;
    }
  }
  &__right {
    text-align: right;
  }
  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 126.69%;
    text-align: right;
    color: #414141;
    margin-top: 30px;
    width: 171px;
    height: 54px;
  }

}
