.navbar {
  height: 113px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  &__menu {
    display: flex;
  }
  &__li {
    margin-right: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #414141;
  }
  &__inpt {
    background: #f9f9f9;
    width: 280px;
    height: 40px;
  }
  &__info{
    display: flex;
    align-items: center;
  }
  &__info a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #414141;
    margin-left: 10px;
  }
}
