.footer {
    background: #FFF;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.03);
    margin-top: 10px;
    padding-bottom: 32px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: #000;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 126.688%;
        margin-top: 54px;
    }

    &__nav {
        display: flex;
        margin-top: 10px;
    }

    &__li {
        color: var(--text-color, #414141);
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 126.688%;
        margin-right: 50px;
        margin-bottom: 7px;
    }

    &__lm {
        text-align: right;
        margin-top: 49px;
    }

    &__text {
        color: var(--text-color, #414141);
        text-align: right;
        font-size: 14px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 126.688%;
        max-width: 171px;
        max-height: 54px;
        margin-top: 20px;
    }

    &__end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    &__menu {
        display: flex;
        align-items: center;

        a {
            color: var(--text-color, #414141);
            font-size: 14px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: 126.688%;
            margin-right: 30px;
        }
    }
    &__menu a:hover {
        color: #D74444;
    }
    &__menu a:active{
        background-color: aqua;
    }

    &__right {
        display: flex;
    }

    &__contacts {
        display: flex;
        align-items: center;
        margin-left: 30px;

        a {
            color: var(--text-color, #414141);
            text-align: right;
            font-size: 14px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            line-height: 126.688%;
            margin-left: 10px;
        }
    }
}